node_modules/
npm-debug.*
temp.*
build

.idea/**/*
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
!.idea/fileColors.xml

**/.DS_Store

.temp

_doc
xcuserdata
packages/*/ios/build
packages/*/ios/fastlane/report.xml
packages/*/ios/GoogleService-Info.plist
